/target
/Cargo.lock

/.vscode
/.vs

/OpenGal
/Compiler.o

/Shared/API.o
/Shared/Utility.o
/Shared/Validate.o
/Shared/ConvertRust.o

/Translator/Configs.o
/Translator/DNF.o
/Translator/Fuses.o
/Translator/Helper.o
/Translator/Serialization.o
/Translator/Translator.o